- # encoding: utf-8

.page-header
  %h2
    讨论
    %small 项目相关问题的讨论
.questionlist
  - questions.each do |question|
    = render :partial => 'questions/item', :locals => { :question => question }

= render 'questions/form'
