-# encoding: utf-8

%hr
.row-fluid
  - question_user = question.user
  .span1
    = link_to image_tag(question_user.avatar_url(:small), :class => "avatar", :title => "#{question_user.nickname}"), user_path(question_user), :method => :get
    
  .span11.item
    .content
      %span(style="word-wrap: break-word;")
      = link_to question.content.html_safe, question

