<div class="well">
  <h3>本周任务</h3>

  <ul class='unstyled'>
  <% Task.find_all_by_assigned_to(current_user.id).each do |task| %>
    <%= render :partial => 'tasks/item', :locals => { :task => task } %>
  <% end %>
  </ul>

  <div>时间进度</div>
  <div id="timeprogress" class="progress progress-info progress-striped">
    <div class="bar" style="width: 10%;">
    </div>
  </div>
  <div>任务进度</div>
  <div id="taskprogress" class="progress progress-striped">
    <div class="bar" style="width: 20%;">
    </div>
  </div>

</div>
</div>

