<%# encoding: utf-8 %>

<div class="block">
  <div class="secondary-navigation"></div>
  <div class="content">
    <h2 class="title">Listing notes</h2>
    <div class="inner">
      <ul class="list">
        <%= render "form" %>
      </ul>
    </div>
  </div>
</div>
