-if @comments.size > 0
  =link_to '查看详情', @comments[0].commentable, :class => '', :target => '_blank' 
%p 
  = current_user.received_messages.size
%br
=form_for(@comment, :remote => true, :class => "form-horizontal") do |f| 
  -if @comment.errors.any?
    #error_explanation
      %h2
        =pluralize(@comment.errors.count, "error") 
        prohibited this comment from being saved:

      %ul
      -@comment.errors.full_messages.each do |msg|
        %li= msg

  =f.hidden_field :commentable_id 
  .row-fluid
    .span10=f.text_field :comment
    .span2=f.submit "评论", :class => "btn-info"
