=form_for(@comment, :remote => true, :class => "form-horizontal") do |f| 
  -if @comment.errors.any?
    #error_explanation
      %h2
        =pluralize(@comment.errors.count, "error") 
        prohibited this comment from being saved:

      %ul
      -@comment.errors.full_messages.each do |msg|
        %li= msg

  =f.text_field :comment, :class => "span6" 
  =f.hidden_field :commentable_id 
  =f.submit "评论", :class => "btn-info pull-right" 
