<%# encoding: utf-8 %>

<div class="form-actions">
  <%= form_for @task, :url => tasks_path, :html => { :class => :form } do |f| %>
  <div class="">
    <%= f.text_field :content, :class => 'input-xxlarge', :placeholder => "任务描述" %>
    <button class="btn btn-primary" type="submit">添加任务</button>
  </div>
  <% end %>
</div>
