- # encoding: utf-8

= form_for @task, :remote => true do |f|
  = f.hidden_field :project_id, :value => @current_project.id
  = f.text_area :content, :rows => 2, :placeholder => "任务描述"
  %button.btn.btn-primary.pull-right{ :type=>"submit"} 添加任务
