<%# encoding: utf-8 %>

<section id="fluidGridSystem">
  <h3>人员</h3>
  <div id="userlist">
  <% User.all.each do |user| %>
    <%= render :partial => 'users/smallinfo', :locals => { :user => user } %>
  <% end %>
  </div>

  <h3>任务</h3>
  <div id="tasklist">
    <% @tasks.each do |task| %>
      <%= render :partial => 'note', :locals => { :task => task } %>
    <% end %>
  </div>

  <%= render 'form' %>

</section>
