<%# encoding: utf-8 %>

<div class="page-header">
  <h3>Projects</h3>
  <% tag_cloud( @projects, %w(css1 css2 css3 css4)) do |project, css_class| %>
    <%= link_to project.name, { :action => :project, :project => project.name, :controller => '/home'},
                :class => css_class %>
  <% end %>
</div>

<div class="page-header">
  <h3>Milestones</h3>
  <% tag_cloud( @milestones, %w(css1 css2 css3 css4)) do |milestone, css_class| %>
    <%= link_to milestone.name, { :action => :milestone, :milestone => milestone.name, :controller => '/home'},
                :class => css_class %>
  <% end %>
</div>

<h3>任务</h3>
<% @tasks.each do |task| %>
  <%= render :partial => 'item', :locals => { :task => task } %>
<% end %>

<%= render 'form' %>
