<%# encoding: utf-8 %>

<div class="form-actions pull-right">
<%= link_to "创建新任务", new_root_tasks_path, :class => 'btn'  %>
</div>

<div class="page-header">
  <h1>Listing tasks</h2>
</div>

<h3>管理任务</h3>
<% @manage_tasks.each do |task| %>
  <%= render :partial => 'item', :locals => { :task => task } %>
<% end %>

<h3>实做任务</h3>
<% @real_tasks.each do |task| %>
  <%= render :partial => 'item', :locals => { :task => task } %>
<% end %>
