<%# encoding: utf-8 %>

<script>
$(function() {

  // droppable user item in _smallinfo.html.erb
  $( ".useritem" ).droppable({
    activeClass: "ui-state-default",
    hoverClass:  "ui-state-hover",
    tolerance: 'pointer',
    drop: function( event, ui ) {
      $( this ).addClass( "ui-state-highlight" ).find("p").html(ui.draggable.attr("id"));
      console.log('assign task to user');
      $.get("/tasks/assign", {taskid: ui.draggable.attr("id"), userid: $(this).attr("id") }, function (data, textStatus){
        this;
        eval(data);
      });
    }
  });
});
</script>

<div class="page-header">
    <h1>待定任务 <small>未分配任务清单</small></h1>
</div>
<div class="tasklist">
  <% @tasks.each do |task| %>
  <%= render :partial => 'note', :locals => { :task => task, :show => :edit } %>
  <% end %>
</div>
<%= render 'form' %>

<div class="page-header">
    <h1>文档 <small>项目相关问题的回答</small></h1>
</div>

<div class="answerlist">
  <%= render :partial => 'questions/index', :locals => { :questions => @questions } %>
</div>
