<%# encoding: utf-8 %>

<script>
$(function() {

  // droppable user item in _smallinfo.html.erb
  $( ".useritem" ).droppable({
    activeClass: "ui-state-default",
    hoverClass:  "ui-state-hover",
    tolerance: 'pointer',
    drop: function( event, ui ) {
      $( this ).addClass( "ui-state-highlight" ).find("p").html(ui.draggable.attr("id"));
      console.log('assign task to user');
      $.get("/tasks/assign", {taskid: ui.draggable.attr("id"), userid: $(this).attr("id") }, function (data, textStatus){
        this;
        eval(data);
      });
    }
  });
});
</script>


<section id="fluidGridSystem">
  <h3>人员</h3>
  <div id="userlist">
  <% User.all.each do |user| %>
    <%= render :partial => 'users/smallinfo', :locals => { :user => user } %>
  <% end %>
  </div>

  <h3>任务</h3>
  <div id="tasklist">
    <% @tasks.each do |task| %>
      <%= render :partial => 'note', :locals => { :task => task } %>
    <% end %>
  </div>

  <%= render 'form' %>

</section>
