<%# encoding: utf-8 %>

(function() {
<% if @task.valid? %>
  $('#tasklist').append( "<%= j render( :partial => 'note', :locals => { :task => @task }) %>" );
  $('#tasklist').effect('highlight', {}, 3000);
  $('#task_content')[0].value = '';
<% else %>
   // something like flashController.doFailure('<p>创建失败</p>');
<% end %>


  setTimeout( function() {
    // draggable task item in _note.html.erb
    // hook again for new created tasks
    $( ".taskitem" ).draggable({
      distance: 20,
      revert: true,
      opacity: 0.7,
      cursor: "move",
      cursorAt: { top: 20, left: 20 },
      helper: function( event ) {
      return $( "<img src='/images/todo-note.jpg'>" );
    }
  });
  }, 100 );
}());

