<%# encoding: utf-8 %>

<div class="block">
  <div class="secondary-navigation"></div>
  <div class="inner">
    <div class="title">
      <p>Listing tasks</p>
    </div>
  
    <%= render "form" %>

    <div class="content">
      <ul class="list">
      <% @tasks.each do |task| %>
      <%= render :partial => 'item', :locals => { :task => task } %>
      <% end %>
      </ul>
    </div>
  </div>
</div>


