<%# encoding: utf-8 %>

<div class="block">
  <div class="secondary-navigation"></div>

  <div class="content">
    <div class="inner">
      <div class="title">
        <p>Listing tasks</p>
      </div>
      
      <ul class="task">
        <% @tasks.each do |task| %>
        <%= render :partial => 'item', :locals => { :task => task } %>
        <% end %>
      </ul>

      <%= render "form" %>

    </div>
  </div>
</div>


