<%# encoding: utf-8 %>

<div class="block">
  <div class="secondary-navigation"></div>

  <div class="content">
    <div class="inner">
      <%= render :partial => controller.action_name %>
    </div>
  </div>
</div>


