<%# encoding: utf-8 %>

(function() {
<% if @task.valid? %>
    var $task = $('#task<%= @task.id %>');
  if($task.find(".js-change-status").attr("checked")=="checked"){
    $task.find(".js-add-throughline").addClass("task-content");
    if( $('.tasklist').find('#task<%= @task.id %>').length == 1 ){
      if($('.tasklist').find('.taskcomplete').length == 0){
        $('.tasklist').append("<b class='taskcomplete'>完成任务</b>");
      }
      $('.tasklist').find('.taskcomplete').after($task);
    }
  } else {
    $task.find(".js-add-throughline").removeClass("task-content");
    if( $('.tasklist').find('#task<%= @task.id %>').length == 1 ){
      $('.tasklist').find('.taskcomplete').before($task);
    }
  }

  // enable in place edit
  setTimeout( function() {
    $('.best_in_place').best_in_place();
  }, 100 );

<% else %>
   // something like flashController.doFailure('<p>创建失败</p>');
<% end %>

}());

