<%# encoding: utf-8 %>

(function() {
<% if @task.valid? %>
    var $task = $('#task<%= @task.id %>');
  if($task.find(".js-change-status").attr("checked")=="checked"){
    console.log("true");
    $task.find(".js-add-throughline").addClass("task-content");
  } else {
    console.log("false");
    $task.find(".js-add-throughline").removeClass("task-content");
  }

  // enable in place edit
  setTimeout( function() {
    $('.best_in_place').best_in_place();
  }, 100 );

<% else %>
   // something like flashController.doFailure('<p>创建失败</p>');
<% end %>

}());

