<%# encoding: utf-8 %>

(function() {
<% if @task.valid? %>
  $('#task<%= @task.id %>').replaceWith("<%= j render :partial => 'tasks/note', :locals => { :task => @task } %>");
  <% if @task.status == Task::DONE %>
      var totalpoint = $('#taskprogress').find('div.bar').attr("total");
      var donepoint = $('#taskprogress').find('div.bar').attr("done") * 1 + <%= @task.estimate %>;
      var results = 100.0*donepoint/totalpoint;
      $('#taskprogress').find('div.bar').attr("style","width:"+results+"%");
      $('#taskprogress').find('div.bar').attr("done",donepoint);
  <% end %>

  <% if @oldstatus == Task::DONE %>
      var totalpoint = $('#taskprogress').find('div.bar').attr("total");
      var donepoint = $('#taskprogress').find('div.bar').attr("done") - <%= @task.estimate %>;
      var results = 100.0*donepoint/totalpoint;
      $('#taskprogress').find('div.bar').attr("style","width:"+results+"%");
      $('#taskprogress').find('div.bar').attr("done",donepoint);
  <% end %>

  // enable in place edit
  setTimeout( function() {
    $('.best_in_place').best_in_place();
  }, 100 );

<% else %>
   // something like flashController.doFailure('<p>创建失败</p>');
<% end %>

}());

