<%# encoding: utf-8 %>

<div class="block" id="block-text">
  <div class="content">
    <%= render 'interview' %>
  </div>
</div>

<div class="block" id="block-text">
  <div class="content">
    <%= render 'email' %>
  </div>
</div>



