.tabbable{ :style=>"margin-bottom: 9px;"}
  .tab-content
    .tab-pane.active#assigned_to_me
      .tasklist
        - @assigned_to_me_tasks.each do |task|
          = render :partial => 'tasks/note', :locals => { :task => task, :show => :edit }

