<%= form_for @user do |f| %>
  <div class="field">
    <%= f.label "昵称：" %>
    <%= f.text_field :nickname, :size => 25 %>
  </div>

  <button type="submit" class="btn btn-primary">确定</button>    
<% end %>

