<%= form_for @user do |f| %>
  <div class="field">
    <%= f.label "昵称：" %>
    <%= f.text_field :nickname, :size => 25 %>
  </div>

  <div class="actions">
    <%= f.submit '确定'%>
  </div>
<% end %>

