<h2 class="title">用户头像</h2>
<%= current_user.nickname %>
<%= image_tag(current_user.avatar) %>
<h2 class="title">头像选择</h2>
<% Dir.open("public/images/icons/").each do |file| %>
    <% if file[/\.[^\.]+$/] == ".gif" %>
        <%= link_to image_tag("/images/icons/#{file}"), users_avatar_path(:icon => "/images/icons/#{file}") %>
    <% end %>
<% end %>
