<h2 class="title">Users#info</h2>
<div class="block">
    <%= link_to image_tag(@avatar), users_avatar_path %>
	<p><%= @nickname %></p>
	<p>发布数: <%= @notes_size %></p>
</div>

<div class="block">
	<div class="secondary-navigation">
		<ul class="wat-cf">
			<li class="first active"><a href="">全部动态</a></li>
		</ul>
	</div>
	<div class="content">
		<h2 class="title"></h2>
		<div class="inner">
			<ul class="list">
				<%= render "/notes/list" %>
			</ul>
		</div>
	</div>
</div>
