<h2 class="title">Users#info</h2>
<div class="block">
    <%= link_to image_tag(@avatar), users_avatar_path %>
	<p><%= @nickname %></p>
	<p>发布数: <%= @notes_size %></p>
</div>

<div class="block">
	<div class="secondary-navigation">
		<ul class="wat-cf">
			<li class="first active"><a href="">全部动态</a></li>
		</ul>
	</div>
	<div class="content">
		<ul class="list">
    	<% if @notes_size == 0 %>
    		<p> 你还没有动态!!</p>
    	<% else %>
     		<p> 动态列表!!</p>
      	<% @notes.each do |note| %>
      		<li><%= note.content %></li>
      		<p>回复数量</p>
      	<% end %>
    	<% end %>
		</ul>
	</div>
</div>
