<h1>Users#info</h1>
<p>
用户图像
</p>
<p>
<%= @nickname %>
</p>
<p>
发布数: <%= @notes_size %> 
</p>
<p>
---------------------------------------华丽丽的分割线--------------------------------------
</p>
<ul>
    <li>
    <a href="">user.nickname的全部动态</a>
    <a href="">分享</a>
    </li>
</ul>
<p>
---------------------------------------华丽丽的分割线--------------------------------------
</p>
<ul>
    <% if @notes_size == 0 %>
        <p> 你还没有分享!!</p>
    <% else %>
        <p> 分享列表!!</p>
        <% @notes.each do |note| %>
            <%= note %>
        <% end %>
    <% end %>
    <p>
</ul>

