<%= render "user_info"%>
<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><a href="/users/index">全部动态</a></li>
      <li class="active"><a href="/users/mycomments">我的评论</a></li>
      <li><a href="/users/comments">我被评论</a></li>
      <li><a href="/users/reading">Reading</a></li>
      <li><a href="/users/done">Done</a></li>
    </ul>
  </div>
  <ul class='comment'>
    <% @comments.each do |comment| %>
      <li>
      <%= image_tag(User.find(comment.user_id).avatar, :class => "avatar") %>
      <%= comment.comment %>
      <%= link_to 'x', comment, :confirm => '你确认删除？', :method => :delete, :class => 'small-button', :remote => true %>
      </li>
    <% end %>
  </ul>
</div>
