<%= render "user_info"%>
<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><a href="/users/index">全部动态</a></li>
      <li><a href="/users/mycomments">我的评论</a></li>
      <li><a href="/users/comments">我被评论</a></li>
      <li class="active"><a href="/users/mytags">mytags</a></li>
    </ul>
  </div>
  <ul class="list">
    <%= render "notes/list" %>
  </ul>
</div>
