- # encoding: utf-8

.board
  .page-header
    %h2
      项目
      %small 全部项目
  - @projects.each do |project|
    %h3
      = link_to project.name, project
      %small= project.summary

  .page-header
    %h2
      时间表
      %small 所有项目时间表

  = render 'form'
