- # encoding: utf-8

.board
  %h1 项目
  - @projects.each do |project|
    .page-header
      %h2
        = link_to project.name, project
        %small= project.summary
  .form-actions
    = render 'form'
