- # encoding: utf-8

.board
  #myself
    #projecttab
      %ul.nav.nav-tabs
        %li.active= link_to "任务", tasks_path(:project => @project_name), :id => "taskprogresslink", :remote => true, "data-toggle" => "tab", "data-target" => "#"
        %li= link_to "回顾", history_tasks_path(:project => @project_name), :remote => true, "data-toggle" => "tab", "data-target" => "#"
        %li= link_to "相关知识", knowledgebase_projects_path, :remote => true, "data-toggle" => "tab", "data-target" => "#"
    
    #projectcontent
