<div class="well">
  <div class="row-fluid">
    <div class="span9">
      <h1> 目前库存图书: <%= @books.size %> </h1>
    </div>
    <div class="pull-right"> 
      <%= link_to '添加新书', new_book_path %>
    </div>
  </div>

  <br/>
  <br/>

  <div class="row-fluid">
    <ul class="thumbnails">
      <% @bookstatuslist.each do |arr| %>
        <li class="span5">
        <div class="thumbnail">
          <%= render :partial => 'book', :locals => { :arr=> arr } %>
        </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
