<div class="well"> 
   豆瓣链接/ID：<%= text_field_tag "doubanid", "", :id => "doubanid", :class => "input-xlarge" %>
  <%= link_to "Search", "#", :id => "search_douban"  %>



  <h1>建立新书</h1>
  <%= render 'form' %>
</div>


