/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.backToTop {
    display: none;
    width:18px;
    line-height:1.2;
    padding:5px 0;
    background-color:#000;
    color:#fff;
    font-size:$small-font;
    text-align:center;
    position:fixed;
    _position:absolute;
    right:10px;
    bottom:1%;
    _bottom:"auto";
    cursor:pointer;
    opacity:.6;
    filter:Alpha(opacity=60);
}                                                           }
