/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jcrop
 *= require twitter/bootstrap
 *= require_tree .
 */


.backToTop {
    display: none;
    width:50px;
    height:50px;
    line-height:4.5;
    padding:5px 0;
    background: #666 url(/images/backtotop.gif) center center no-repeat;
    background-color:#666 ;
    color:#fff;
    font-size:12px;
    text-align:center;
    position:fixed;
    _position:absolute;
    right:15%;
    bottom:1%;
    _bottom:"auto";
    cursor:pointer;
    opacity:.6;
    filter:Alpha(opacity=60);
}         

#main {
  width: 79%;
  float: right;
}

#wrapper {
  padding-top: 20px;
  width: 900px;
  margin:0 auto;
}

#box {
    width: 500px;
}

.preview1 {
    width:180px;
    height:180px;
    overflow:hidden;
}

.preview2 {
    width:48px;
    height:48px;
    overflow:hidden;
}

.navbar-fixed-top{
    background: #800;
    background: -moz-linear-gradient(bottom,#800,#400);
    background: -webkit-linear-gradient(bottom,#800,#400);
    border-bottom: 1px solid whiteSmoke;
    box-shadow: 0 0 8px rgba(0,0,0,.7);
}

.jcrop img {
    max-width: none;
}
