/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jcrop
 *= require fullcalendar
 *= require fullcalendar.print
 *= require_tree .
 */


 @import "jquery.plupload.queue";
.backToTop {
    display: none;
    width:50px;
    height:50px;
    line-height:4.5;
    padding:5px 0;
    background: #666 url(/images/backtotop.gif) center center no-repeat;
    background-color:#666 ;
    color:#fff;
    font-size:12px;
    text-align:center;
    position:fixed;
    _position:absolute;
    right:15%;
    bottom:1%;
    _bottom:"auto";
    cursor:pointer;
    opacity:.6;
    filter:Alpha(opacity=60);
}         

.preview1 {
    width:180px;
    height:180px;
    overflow:hidden;
}
.preview2 {
    width:48px;
    height:48px;
    overflow:hidden;
}
.jcrop img {
    max-width: none;
}

/* visiable elements
-------------------------------------------------- */
@import "compass/layout.scss";
@import "compass/utilities";
@import "compass/css3";

.board {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid #EEE;
    border: 1px solid rgba(0, 0, 0, 0.05);
    @include box-shadow(grey 1px 1px 3px);
    @include border-radius(10px);
}


.framed {
  padding: 10px 20px 10px 10px;
  color: darken(#FFF, 40%);
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}
