#mynote_notice {
  position: relative;
}

#update_info {
  top: 0px;
  left: 60px;
  position: absolute;
  display: block;
  background: url(/images/header.png) no-repeat 0 -250px;
  height: 18px;
  line_height: 18px;
  text-align: center;
  padding: 0 6px 8px;
  color: white;

}

