/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */

@import "compass/reset.scss";
@import "compass/layout.scss";
 
@include sticky-footer(72px, "#layout", "#layout_footer", "#footer");
 
#header {
  background: #999999;
  height: 72px; }
 
#footer {
  background: #cccccc; }


/*---------------------------------------------------------------------------------------------*/

@import "compass/layout/stretching";
@import "compass/utilities";
@import "compass/css3";
 
.stretch-container {
  border: 1px solid #999999;
  width: 200px;
  height: 60px;
  position: relative;
  @include inline-block; }

.stretch-small-container {
  border: 1px solid #999999;
  width: 200px;
  height: 50px;
  position: relative;
  @include inline-block; }

.stretch-long-container {
  border: 1px solid blue;
  width: 100%;
  position: relative;
  @include inline-block; }
 
.stretched {
  $stretch-color: #eff;
  border: 3px solid $stretch-color;
  @include border-radius(8px);
  display: block;
  text-align: center;
  text-overflow:ellipsis;
  overflow:hidden;
  vertical-align: middle;
  padding: 0.5em; }
 
#stretch-full {
  @extend .stretched;
  @include stretch; }
 
#stretch-offset {
  @extend .stretched;
  @include stretch(1em, 1em, 1em, 1em); }
 
#stretch-x {
  @extend .stretched;
  @include stretch-x; }
 
#stretch-y {
  @extend .stretched;
  @include stretch-y; }

/*---------------------------------------------------------------------------------------------*/
