@import "compass/reset.scss";
@import "compass/layout.scss";
@import "compass/layout/stretching";
@import "compass/utilities";
@import "compass/css3";
 

.purr {
    position: fixed;
    top: 30px;
    right: 100px;
    width: 250px;
    padding: 20px;
    background-color: #FCC;
    border: solid 2px #666;
    &:first-letter { text-transform: uppercase };
}

.inplace {
    text-decoration: underline;
    color: #0078B6;
}

@mixin block($size) {
	margin: 10px 5px;
	padding: $size 0;
    @include border-radius(3px);
}

.task-backlog {
    background-color: #eee;
}

.task-todo {
    background-color: #ccf;
}

.task-doing {
    background-color: #aaf;
}

.task-done {
    background-color: #eee;
}

.task-cancel {
    background-color: #fee;
}

.task-past {
    @include block(5px);
}

.task-recent {
    @include block(15px);
    @include box-shadow(grey 1px 1px 3px);
}

.task-coming {
    @include block(5px);
}

.tasklist {
    padding: 10px;
    line-height: 22px;
    font-size: 16px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: 100% center;
    cursor: pointer;
    border: 1px solid white;
}


/*---------------------------------------------------------------------------------------------*/
 
@include sticky-footer(72px, "#layout", "#layout_footer", "#footer");
 
#header {
  background: #999999;
  height: 72px; }
 
#footer {
  background: #cccccc; }



.stretch-container {
  border: 1px solid #999999;
  height: 50px;
  position: relative;
  @include inline-block; }

.stretch-small-container {
  border: 1px solid #999999;
  width: 45%;
  height: 24px;
  position: relative;
  @include inline-block; }

.stretch-long-container {
  border: 1px solid white;
  width: 100%;
  height: 20px;
  position: relative;
  @include inline-block; }
 
.stretched {
  $stretch-color: #eff;
  display: block;
  font-size: 14px;
  text-overflow:ellipsis;
  overflow:hidden;
  vertical-align: middle;
  padding: 0.5em; }
 
#stretch-full {
  @extend .stretched;
  @include stretch; }
 
#stretch-offset {
  @extend .stretched;
  @include stretch(1em, 1em, 1em, 1em); }
 
#stretch-x {
  @extend .stretched;
  @include stretch-x; }
 
#stretch-y {
  @extend .stretched;
  @include stretch-y; }

/*---------------------------------------------------------------------------------------------*/
	
