.purr {
    position: fixed;
    top: 30px;
    right: 100px;
    width: 250px;
    padding: 20px;
    background-color: #FCC;
    border: solid 2px #666;
    &:first-letter { text-transform: uppercase };
}

.inplace {
    text-decoration: underline;
    color: #0078B6;
}

@mixin radius($rad) {
    -webkit-border-radius: $rad;
    -moz-border-radius: $rad;
    -o-border-radius: $rad;
    border-radius: $rad;
}

@mixin shadow {
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.3);
}

@mixin block($size) {
	margin: $size 0;
	padding: $size 0;
    @include radius(5px);
}

.task-backlog {
    background-color: #eee;
}

.task-todo {
    background-color: #ccf;
}

.task-doing {
    background-color: #aaf;
}

.task-done {
    background-color: #eee;
}

.task-cancel {
    background-color: #fee;
}

.task-past {
    @include block(5px);
}

.task-recent {
    @include block(15px);
    @include shadow;
}

.task-coming {
    @include block(5px);
}

.tasklist {
    padding: 10px;
    line-height: 22px;
    font-size: 16px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: 100% center;
    cursor: pointer;
    border: 1px solid white;
}

	
