@import "compass/layout.scss";
@import "compass/layout/stretching";
@import "compass/utilities";
@import "compass/css3";
 

.purr {
    position: fixed;
    top: 30px;
    right: 100px;
    width: 250px;
    padding: 20px;
    background-color: #FCC;
    border: solid 2px #666;
    &:first-letter { text-transform: uppercase };
}

.inplace {
    text-decoration: underline;
    color: #0078B6;
}

@mixin block($size) {
	margin: 5px 5px;
	padding: $size;
    position: relative;
}

.task-todo {
    background-color: #f9eca0;
}

.task-doing {
    background-color: #bbdaf7;
    background-image: url("/images/doing.jpeg");
    background-position: right;
    background-repeat: no-repeat;
}

.task-done {
    background-color: #eee;
    background-image: url("/images/done.jpeg");
    background-position: right;
    background-repeat: no-repeat;
}

.task-cancel {
    background-color: #fee;
}

.task-past {
    @include block(5px);
    @include border-radius(3px);
}

.task-recent {
    @include block(5px);
    @include border-radius(3px);
    @include box-shadow(grey 1px 1px 1px);
}

.task-coming {
    @include block(5px);
}

.task-view {
  font-size: 14px;
}

.red-avatar {
  width: 200px;
  border: 1px solid #999999;
  height: 84px;
  margin: 6px;
  position: relative;
  font-size: 11px;
  @include box-shadow(grey 1px 1px 3px);
  @include inline-block;
  @include block(5px);
}

.red-note {
  width: 31%;
  min-height: 100px;
  position: relative;
  font-size: 14px;
  @include box-shadow(grey 1px 1px 3px);
  @include inline-block;
  @include block(6px);
  vertical-align: top;
}

/*---------------------------------------------------------------------------------------*/

@include sticky-footer(72px, "#layout", "#layout_footer", "#footer");

#header {
  background: #999999;
  height: 72px; }

#footer {
  background: #cccccc; }

.stretch-container {
  width: 200px;
  border: 1px solid white;
  width: 100%;
  height: 20px;
  font-size: 14px;
  position: relative;
  @include inline-block; }
 
.stretched {
  $stretch-color: #eff;
  display: block;
  text-overflow:ellipsis;
  overflow:hidden;
  vertical-align: middle;
  padding: 0.5em; }
 
#stretch-full {
  @extend .stretched;
  @include stretch; }
 
#stretch-offset {
  @extend .stretched;
  @include stretch(1em, 1em, 1em, 1em); }
 
#stretch-x {
  @extend .stretched;
  @include stretch-x; }
 
#stretch-y {
  @extend .stretched;
  @include stretch-y; }

/*---------------------------------------------------------------------------------------------*/
	

.navbar-fixed-top{
    background: #800;
    background: -moz-linear-gradient(bottom,#800,#400);
    background: -webkit-linear-gradient(bottom,#800,#400);
    border-bottom: 1px solid whiteSmoke;
    box-shadow: 0 0 8px rgba(0,0,0,.7);
}


/* corners of block
-------------------------------------------------- */
@mixin corner {
    position: absolute;
    z-index: 1;
}

.top-left {
    @include corner;
    left: -1px;
    top: -3px;
}

.top-left:hover {
    background: #aaa;
}

.top-right {
    @include corner;
    right: -2px;
    top: -3px;
}

.bottom-left {
    @include corner;
    left: 0px;
    bottom: 0px;
}

.bottom-right {
    @include corner;
    right: 0px;
    bottom: 0px;
}


/* Big checkbox
-------------------------------------------------- */
.big-checkbox {
    background: url("/images/checkbox-icons.png") no-repeat 0 0;
    cursor: pointer;
}

.lt-check {
    display: block;
    float: left;
    height: 25px;
    width: 25px;
}

.status3 .lt-check{background-position:-39px -1px;}
.status4 .lt-check{background-position:-80px -1px;}
.status1 .lt-check{background-position:2px -1px;}
.status0 .lt-check{background-position:-120px -1px;}
.status2 .lt-check{background-position:-188px -1px;}
.status5 .lt-check{background-position:-159px -1px;}
.status6 .lt-check{background-position:-280px -1px;}

