@import "compass/layout.scss";
@import "compass/layout/stretching";
@import "compass/utilities";
@import "compass/css3";
 

.purr {
    position: fixed;
    top: 30px;
    right: 100px;
    width: 250px;
    padding: 20px;
    background-color: #FCC;
    border: solid 2px #666;
    &:first-letter { text-transform: uppercase };
}

.inplace {
    text-decoration: underline;
    color: #0078B6;
}

@mixin block($size) {
	margin: 5px 5px;
	padding: $size;
    position: relative;
}

.task-todo {
    border-bottom-color: #0083D4;
    border-bottom-style: solid;
    border-bottom-width: 6px;
}

.task-doing {
    border-bottom-color: #83D400;
    border-bottom-style: solid;
    border-bottom-width: 6px;
    background-color: #bbdaf7;
}

.task-done {
    border-bottom-color: #ccc;
    border-bottom-style: solid;
    border-bottom-width: 6px;
    background-color: #0083D4;
    background-image: url("/images/done.gif");
    background-position: bottom right;
    background-repeat: no-repeat;
    filter: Alpha(opacity=30);
    -moz-opacity:0.3;
    opacity:0.3;
}

.task-cancel {
    background-color: #fee;
    filter: Alpha(opacity=30);
    -moz-opacity:0.3;
    opacity:0.3;
}

.task-view {
    font-size: 14px;
}

.red-avatar {
    width: 150px;
    margin: 6px;
    font-size: 11px;
    @include inline-block;
}

.red-note {
    width: 95%;
    max-width: 338px;
    min-height: 120px;
    font-size: 14px;
    vertical-align: top;
    background-color: #fff;
    @include box-shadow(grey 1px 1px 3px);
    @include inline-block;
    @include block(6px);
    @include border-radius(2px);
}

/*.task-action {
    display: block;
}

.red-note:hover .task-action{ */
.task-action {
    display: block;
    border-color: #000;
    right: 0px;
    bottom: 0px;
    position: absolute;
    z-index: 1;
    a {
        color: #aaa;
    }
}

/*---------------------------------------------------------------------------------------*/

@include sticky-footer(72px, "#layout", "#layout_footer", "#footer");

#header {
  background: #999999;
  height: 72px; }

#footer {
  background: #cccccc; }

.stretch-container {
  width: 200px;
  border: 1px solid white;
  width: 100%;
  height: 20px;
  font-size: 14px;
  position: relative;
  @include inline-block; }
 
.stretched {
  $stretch-color: #eff;
  display: block;
  text-overflow:ellipsis;
  overflow:hidden;
  vertical-align: middle;
  padding: 0.5em; }
 
#stretch-full {
  @extend .stretched;
  @include stretch; }
 
#stretch-offset {
  @extend .stretched;
  @include stretch(1em, 1em, 1em, 1em); }
 
#stretch-x {
  @extend .stretched;
  @include stretch-x; }
 
#stretch-y {
  @extend .stretched;
  @include stretch-y; }


/* corners of block
-------------------------------------------------- */
@mixin corner {
    position: absolute;
    z-index: 1;
}

.top-left {
    @include corner;
    left: -1px;
    top: -3px;
}

.top-left:hover {
    background: #aaa;
}

.top-right {
    @include corner;
    right: -2px;
    top: -3px;
}

.bottom-left {
    @include corner;
    left: 0px;
    bottom: 0px;
}

.bottom-right {
    @include corner;
    right: 0px;
    bottom: 0px;
}


/* Big checkbox
-------------------------------------------------- */
.big-checkbox {
    background: url("/images/checkbox-icons.png") no-repeat 0 0;
    cursor: pointer;
}

.lt-check {
    display: block;
    float: left;
    height: 25px;
    width: 25px;
}

.status3 .lt-check{background-position:-39px -1px;}
.status4 .lt-check{background-position:-80px -1px;}
.status1 .lt-check{background-position:2px -1px;}
.status0 .lt-check{background-position:-120px -1px;}
.status2 .lt-check{background-position:-188px -1px;}
.status5 .lt-check{background-position:-159px -1px;}
.status6 .lt-check{background-position:-280px -1px;}

