
/* variables */

$small-font: 12px;
$middle-font: 16px;
$big-font: 20px;

/* @mixin */

@mixin navigation {
    ul li {
        float: left;  
        padding: 5px 10px;
        margin-right: 0;
        a {
            color: #fff;
		    display: block;
		    padding: 10px 15px
	    }
        a:link, a:visited, a:hover, a:active {
            padding: 4px 0;
        }
        a:active img {
            margin-top: 1px;
        }
    }
}

@mixin radius($rad) {
    -webkit-border-radius: $rad;
    -moz-border-radius: $rad;
    -o-border-radius: $rad;
    border-radius: $rad;
}

@mixin radius-topleft($rad) {
    -webkit-border-radius-topleft: $rad;
    -moz-border-radius-topleft: $rad;
    -o-border-radius-topleft: $rad;
    border-radius-topleft: $rad;
}

@mixin radius-topright($rad) {
    -webkit-border-radius-topright: $rad;
    -moz-border-radius-topright: $rad;
    -o-border-radius-topright: $rad;
    border-radius-topright: $rad;
}

@mixin radius-box {
    display: inline-block;
    margin: 0 5px 5px 0;
    padding: 0px 10px;
    background-color: #5577aa;
    color: white;
    text-indent: 0;
    font-size: $small-font;
    @include radius(5px);
}

@mixin inset-shadow($value) {
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, $value);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, $value);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, $value);
}

/* -------------- start of scss -------------- */

* { margin:0;padding:0 }
.clear { clear: both; height: 0; }

.wat-cf:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.wat-cf {
 	margin: 0;
  	padding: 0;
  	list-style-type: none;
    display: inline-block;
}


/* Hides from IE-mac \*/
* html .wat-cf {height: 1%;}
.wat-cf {display: block;}
/* End hide from IE-mac */

h1, h2, h3 {
    color: #111;
    font-weight: normal;
    margin: 10px 0; 
}
h1 { font-size: $big-font+2px; }
h2 { font-size: $big-font; }
h3 { font-size: $middle-font+2px; }
h4 { font-size: $middle-font; }

hr {
    background: #dddddd;
    color: #dddddd;
    height: 1px;
    border: 0;
}

p { margin: 15px 0;}

a {
    text-decoration: none;
    color: #0078B6;
    img {
        border: none;
    }
}

a:link, a:active, a:hover, a:visited {
    color: #369;
}

a.small-button {
    @include radius-box;
}

a.notify {
    @include radius-box;
    background-color: #ffeeee;
    width: 100%;
}

.actions-bar {
    padding: 10px 1px;

    .actions {
        float: left;
    }

    .pagination {
        float: right;
        padding: 1px 0;
    }
}

.button.green {
    color: #E8F0DE;
    border: solid 1px #538312;
    background: #64991E;
    background: -webkit-gradient(linear,left top,left bottom,from(#7DB72F),to(#4E7D0E));
    background: -moz-linear-gradient(top,#7DB72F,#4E7D0E);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f',endColorstr='#4e7d0e');
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

body {
    font-size: $small-font+2px;
    color: #111111;
    background: #c4c4c4 url("/assets/web-app-theme/themes/default/images/bgd.jpg");
    font-family: helvetica, arial, sans-serif;
}

textarea {
    width: 100%;
    border: 1px solid #dddddd;
    @include inset-shadow(0.1);
}

#header {
    position: relative;
    padding-top: 1px; 
	margin: 0;
	color: #eeeeee;
    background: #800;
    background: -moz-linear-gradient(bottom,#800,#400);
    background: -webkit-linear-gradient(bottom,#800,#400);
    border-bottom: 1px solid whiteSmoke;
    box-shadow: 0 0 8px rgba(0,0,0,.7);
    font-family: helvetica, arial, sans-serif;
    #wrapper {
        padding: 0;
        margin:0 auto;
    }

    .flash {
 		position: fixed;
 		opacity: 0.7;
		top: 0;
		left:	30%;
		height: 50px;
  		width: 40%;
  		max-width: 80%;
 		margin: 3px;
		z-index: -1;
    }

    h1 {
        margin: 0 auto;
		float: left;
        padding: 0px 20px 0px;
        float: left;
        font-style: normal;
        font-size: $big-font + 9;
        text-transform: normal;
        letter-spacing: -1px;
        line-height: 1.2em;
        color: white;
        font-family: helvetica, arial, sans-serif;

        a:link, a:active, a:hover, a:visited {
            color: #fff;
        }
    }
}

#main-navigation {
    @include navigation;
}

#user-navigation {
    @include navigation;
    float: right;
}

#simple-navigation {
    @include navigation;
    float: left;
    ul li {
        padding: 0px 10px;
        a {
            color: #111;
        }
    }
}

#main .block {
	margin-bottom: 20px;
	padding-top: 1px;
    background-color: white;
    @include radius(6px);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.3);
    min-height: 60px;

    .secondary-navigation {
        @include navigation;
        background: #e0e0e0 url("/assets/web-app-theme/themes/default/images/boxbar-background.png") top;
  		border-bottom-style: solid;
        border-bottom-width: 0px;
        @include radius-topleft(6px);
        @include radius-topright(6px);
        ul {
  			list-style-type: none;
            li a {
                color: #111;
            }
            li.first a {
                @include radius-topleft(6px);
            }
            li.first {
                @include radius-topleft(6px);
            }
            li.text {
                padding: 10px 15px;
                color: #818171;
            }
            li.active {
                background-color: white;
            }
            li.active a:hover {
                background-color: white;
            }
        }
	}

	.content {
        padding-top: 1px;  

        .inner {
            padding: 15px;

            img {
                padding: 0px 10px;
            }

            .left:hover {
                span {
	                opacity: 0.8;
	                display: block;
	                position: absolute;
	                top:30px;
	                left:10px;
	                width:100px;
	                background:#eee;
	                color:#333;
	                padding:5px;
	                text-align:left;
                    @include radius(10px);
	                -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	                -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	                box-shadow: 0 0 5px rgba(0,0,0,0.5);
                }
            }

            .small {
                font-size: $small-font;
            }

            .left {
	            position: relative;

                span {
	                display: none;
	                margin: 20px;
	                border: 1px solid #ccc;
	                padding: 10px;
                }
            }

			.list {
				.left {
					position: relative;
					span {
						display: none;
            			margin: 20px;
           				border: 1px solid #ccc;
           				padding: 10px;
					}
				}
				.left:hover span {
    				display: block;
    				position: absolute;
    				top:30px;
    				left:10px;
    				width:100px;
				}			
			}

		}
		
        h2 {
            margin: 10px 0px;
            text-transform: normal;
            letter-spacing: -1px;
            line-height: 1.2em;
        }

        p {
            font-style: normal;
            font-weight: normal;
            text-transform: normal;
            letter-spacing: normal;
            line-height: 1.45em;
        }

		.right {
            margin-bottom: 20;
            float: right;
        }
    }
}

#sidebar {
    width: 20%;
    float: left;

    .notice {
        color: white;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
        background-color: #777777;
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0)));
        background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
        @include radius(6px);
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(255, 255, 255, 0.3);
        -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(255, 255, 255, 0.3);
        -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(255, 255, 255, 0.3);
    }

    .warning {
        padding-left: 10px;
        padding-right: 10px;
        color: #222222;
        background: #ffef4e;
        @include radius(6px);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(0, 0, 0, 0.3);
    }
    ul {
        li {
            background-position: 0 11px;
            background-repeat: no-repeat;
            background-image: url("/assets/web-app-theme/themes/default/images/arrow.png");
            border-bottom: 1px dashed #777777;
            list-style-type: none;
        }

        li a {
            margin-left: 10px;
            text-shadow: 0 1px 0 white;
        }

        li.active a {
            color: #a4a4a4;
        }
    }

    .block {
        margin-bottom: 10px;
		padding-bottom: 2px;
        padding-top: 2px;
        @include radius(6px);
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);

        h4 {
            font-weight: normal;
        }

        .content {
            padding: 0 10px;
            color: #ccc;
        }
    }

    h3 {
        padding-left: 25px;
        color: #111111;
        border-bottom: 1px solid #261f1f;
    }

    h4 { 
        padding: 10px 5px;
        margin: 0;
        color: #ffff88;
    }

    h5 {  
        padding: 10px 15px;
        margin: 0;
        color: #eeeeee;
    }

    p1 {
        color: #fff;
        font-weight: "bold";
    }

    ul.navigation li a:link, ul.navigation li a:visited {
        display: block;
        padding: 10px 15px;
    }

    .block .sidebar-block,  .notice {
        padding:10px;
    }
}


#box .right {
    margin-bottom: 20;
    float: right;
}

#footer {
    padding-bottom: 20px;
    color: #261f1f;
    text-shadow: none;
    .block {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        background: none;
    }

    p {
        margin: 0;
        padding: 0;
        text-align: center;
    }
}

/* pagination */

.pagination a, .pagination span, .pagination em {
    @include radius(2px);
    padding: 2px 5px;
    margin-right: 5px; 
    display: block;
    float: left;
    border-style: solid;
    border-width: 1px;
    border: 1px solid #c3c4ba;
    padding: 6px;
    min-width: 15px;
    text-align: center;
    background: #dddddd;
    background-image: url("/assets/web-app-theme/themes/default/images/button-background.png");
    color: #111111;
    a:hover {
        border: 1px solid #818171;
        -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    }
    span.current {
        background: #261f1f;
        color: white;
        border: 1px solid #261f1f;
    }

    a:active {
        background-image: url("/assets/web-app-theme/themes/default/images/button-background-active.png");
        outline: none;
    }
}

.pagination em {
    font-weight: bold;  
}

/* tables */
.table {
    width: 100%;
    border-collapse: collapse;  
    margin-bottom: 15px;

    th {
        background: #eaeaea;
        color: #222222;
        font-weight: bold;
        padding: 10px;
        text-align: left;
        th.last {
            min-width: 90px;
        }
        td {
            border-bottom: 1px solid #eaeaea;
        }
        td.last {
            padding-top: 0px;
            padding-bottom: 0px;
        }
        tr.even {
            background: #f8f8f8;
        }
    }

    th.first {
        width: 30px;
    }

    th.last {
        width: 200px;  
    }

    .checkbox {
        margin-left: 10px;
    }

    td {
        padding: 10px;
    }

    td.last {
        text-align: right;
    }
}

/* forms */

input.checkbox {
    margin: 0;
    padding: 0;
}

.form {
    .group {
        margin-bottom: 15px;
    }

    div.left {
        width: 20%;
        float: left;
    }

    div.right {
        width: 75%;
        float: right;
    }

    .columns {
        .column {
            width: 48%;
        }

        .left {
            float: left;
        }

        .right {
            float: right;
        }
    }

    label.label {
        color: #666666;
        display: block;
        padding-bottom: 2px;  
        font-weight: bold;
    }

    input {
        font-weight: bold;
        padding: 3px 10px;
        color: #E8F0DE;
        border: solid 1px #538312;
        background: #64991E;
        background: -webkit-gradient(linear,left top,left bottom,from(#7DB72F),to(#4E7D0E));
        background: -moz-linear-gradient(top,#7DB72F,#4E7D0E);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f',endColorstr='#4e7d0e');
        text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
        @include radius(4px);
    }

    input.text_field, textarea.text_area {
        width: 100%;
        border: 1px solid #dddddd;
        @include inset-shadow(0.1);
    }
    input.button {
        background: #dd0;
        @include radius(5px);
        border: 1px solid #c1c1c1;
        padding: 2px 5px;
        cursor: pointer;
        color: #111111;
        font-weight: bold;
    }
    input.button:hover {
        border: 1px solid #666666;
    }
    .description {
        font-style: italic;
        color: #8c8c8c;
    }
    .navform a {
        color: #cc0000;
    }

    label.label, input.text_field, textarea.text_area {
        padding: 1px 0;
        margin: 0;
    }

    label.right {
        text-align: right;
    }

    input.checkbox, input.radio {
        margin-right: 5px;
    }

    label.checkbox,  label.radio {
        line-height: 1.5em;
    }

    div.fieldWithErrors label.label {
        display: inline;
    }

    .fieldWithErrors .error {
        color: red;
    }

    input.text_field, textarea.text_area {
        width: 100%;
        border-width: 1px;
        border-style: solid;
    }
}

/* lists */

ul.comment li {
  padding-top: 6px;
  padding-bottom: 6px;
  list-style-type: none;
}

ul.task {

}

ul.list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
        border-bottom-color: #dddddd;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        clear: left;
        padding-top: 20px;
        padding-bottom: 20px;

        .item .avatar {
            border-color: #dddddd;
            border-width: 1px;
            border-style: solid;
            padding: 2px;
        }

        .left {
            float: left;  
        }

        .left .avatar {
            width: 50px;
            height: 50px;
        }

        .item {
            margin-left: 80px;
        }

        .item .avatar {
            float: left;
            margin: 0 5px 5px 0;
            width: 30px;
            height: 30px;
        }
    }
}

/* box */

#box {
    width: 500px;
    margin: 100px auto;  

    .block .content {
        padding: 10px 20px;
    }

    .block {
        margin-bottom: 20px;
        background: white;
        text-shadow: 0 1px 0 white;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.3);
        @include radius(6px);
    }
    .block h2 {
        padding: 10px 15px;
        margin: 0;  
        background: #261f1f;
        color: white;
        text-shadow: none;
        @include radius-topleft(6px);
        @include radius-topright(6px);
    }
}

/*  Inspired by http://particletree.com/features/rediscovering-the-button-element */

a.button:link, a.button:visited, a.button:hover, a.button:active, button.button {
    color: #222;
    display:block;
    margin:0 7px 0 0;
    background-color: #eee;
    border:1px solid #bfbfbf;
    line-height: 1.3em;
    font-weight:bold;
    cursor:pointer;
    padding:5px 10px 6px 7px;
}

a.button, button.button {
  background: #edeeed url("/assets/web-app-theme/themes/default/images/button-background.png") top;
  border: 1px solid #c3c4ba;
  font-weight: normal;
  @include radius(3px);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

a.button:link, a.button:visited, a.button:hover, a.button:active, button.button:link, button.button:visited, button.button:hover, button.button:active {
  font-weight: normal;
  background: #edeeed url("/assets/web-app-theme/themes/default/images/button-background.png") top;
}

a.button:active, button.button:active {
  background: #eaeaea url("/assets/web-app-theme/themes/default/images/button-background-active.png") top;
  outline: none;
  margin-top: 1px;
  margin-bottom: -1px;
}

button.button {
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}

button.button[type] {
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
    float: right;
}

*:first-child+html button.button[type] {
    padding:4px 10px 3px 7px; /* IE7 */
}

button.button img, a.button img {
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}

button.button:hover, a.button:hover {
    background-color:#dedede;
}

button.button:active, a.button:active {
    background-color:#e5e5e5;
}
.text_button_padding{
    color: #222222;
    display: block;
    float: left;
    line-height: 2em;
    margin: 0 7px 0 0;
    padding: 5px 0 6px 7px;
    text-decoration: none;
}
.link_button{
    cursor: pointer;
}

.avatars a {
    img{
        border: 5px solid #CCC;
        margin: 15px;
        opacity: 0.6;
        filter: alpha(opacity=50);
    }

    img:hover {
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

.flash .message {
    @include radius(3px);
    text-align: center;
    margin: 0 auto 15px;
    color: white;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    .message p {
        margin: 8px;
    }
    .alert, .flash .error, .flash .error-list {
        border: 1px solid #993624;
        background: #cc4831 url("/assets/web-app-theme/themes/default/images/messages/error.png") no-repeat 10px center;
    }
    .warning {
        border: 1px solid #bb9004;
        background: #f9c006 url("/assets/web-app-theme/themes/default/images/messages/warning.png") no-repeat 10px center;
    }
    .notice {
        color: #28485e;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
        border: 1px solid #8a9daa;
        background: #b8d1e2 url("/assets/web-app-theme/themes/default/images/messages/notice.png") no-repeat 10px center;
    }
    .error-list {
        text-align: left;
    }
    .error-list h2 {
        text-align: center;
    }
    .error-list ul {
        padding-left: 22px;
        line-height: 18px;
        list-style-type: square;
        margin-bottom: 15px;
    }
}

.login div.left, .signup div div.left {
  width: 21%;
  float: left;
}
.login div.right, .signup div div.right {
  width: 74%;
  float: right;
}

