<h1>Listing notes</h1>

<table id="notes-table">
  <tr>
    <th>User</th>
    <th>Summary</th>
    <th>Message</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Note</a>