<div class="row-fluid">
    <div class="span12">
        <form id="new-note" name="note">
            <textarea cols="40" id="summary" name="summary" placeholder="写点什么吧" rows="3"></textarea>
            <input id="attachments" name="attachments" type="hidden" value="" />
            <input id="tag_list" name="tag_list" type="hidden" value="" />

            <a id="pickfiles" href="#"> 添加图片和文档 </a>
            <input class="btn btn-primary pull-right" type="submit"> 发布 </input>
        </form>
    </div>
</div>

<div class="span12">
    <div id="image_uploader">
        <ul id="filelist" class="thumbnails"></ul>
    </div>
</div>
